body {
    background-image: url('./img/body-bg.jpg');
}

header {
    background-image: url('./img/hero-bg.png');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
}
nav {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
}

a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: rgb(0, 0, 0); /* Cambia el color del texto a blanco */
}

nav a {
    font-family: 'Special Gothic Condensed One';
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 35px;
    padding-left: 20px;
}

#title {
    padding-right: 750px;
}

.texto {
    padding-top: 80px;
    padding-left: 200px;
    font-size: 25px;
    gap: 10px; /* Espaciado entre los elementos */
    font-family: 'Special Gothic Condensed One';
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.texto2 {
    width: 500px;
    padding-left: 200px;
    font-size: 30px;
}

.boton {
    border: white 2px solid;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
    font-family: Special Gothic Condensed One;
    font-size: 25px;
    text-align: center;
    width: 200px;
    margin-left: 200px;
}

.containerHead p {
    color: rgb(255, 255, 255);
    font-family: Special Gothic Condensed One;
    font-size: 25px;
}

.containerHead2 {
    font-family: Special Gothic Condensed One
}

.containerHead {
    width: 1920;
    height: 1920px;
    background-image: url('./img/hero-bg.png');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    position: relative;
}

.hero {
    position: relative;
    padding-left: 900px;
    top: -1600px;
    height: auto;
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.hero-imagen {
    height: 500px;
    padding-right: 100px;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 20px;
    border-radius:50px;
}

.mundo-imagen {
    height: 800px;
    padding-left: 100px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.mundo-texto h3 {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 50px;
    padding-right: 40px;
    position: relative;
    top: -600px;
    margin-left: 1250px;
}

.mundo-texto p {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: right;
    position: relative;
    top: -600px;
    width: 500px;
    left: 1300px;
}

.boton-mundo , .boton, .learn-boton, .adm-boton, .deter-boton {
    position: relative;
    top: 0;
    transition: top 0.3s ease, box-shadow 0.3s ease;
}


.boton-mundo  {
    position: relative;
    background-color: #6ebca8;
    border-radius: 20px;
    color: black;
    font-family: Special Gothic Condensed One;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 120px;
    left: 1620px;;
    margin-top: -500px;
    margin-bottom: 50px;
}


.boton:hover {
    top: -10px; /* Eleva el botón al pasar el mouse */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
}

.learn-boton:hover {
    top: -5px; /* Reduce la elevación al pasar el mouse */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /* Reduce la sombra para un efecto más sutil */
    
}

.adm-boton:hover {
    top: -5px; /* Reduce la elevación al pasar el mouse */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}


.boton-mundo:hover {
    top: -5px; /* Reduce la elevación al pasar el mouse */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /* Reduce la sombra para un efecto más sutil */
}

.deter-boton:hover {
    top: -5px; /* Reduce la elevación al pasar el mouse */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /* Reduce la sombra para un efecto más sutil */
}

.adm-texto {
    padding-top: 80px;
    padding-left: 200px;
    font-size: 25px;
    gap: 10px; /* Espaciado entre los elementos */
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 50px;
    padding-top: 300px;
}

.adm-texto2 {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: left;
    position: relative;
    padding-top: 30px;
    width: 500px;
    margin-left: 200px;
}


.adm-boton {
    position: relative;
    background-color: #fdd31d;
    border-radius: 20px;
    color: black;
    font-family: Special Gothic Condensed One;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 120px;
    margin-left: 200px;
    margin-top: -1px;
}

.adm-imagen {
    height: 500px;
    padding-right: 100px;
    position: relative;
    margin-left: 1200px;
    top: -500px;
    
}

.learn-texto {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 50px;
  
    position: relative;
    margin-left: 1350px;
    
}

.learn-texto2 {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: right;
    position: relative;
    padding-top: 30px;
    width: 500px;
    margin-left: 1300px;
}

.learn-boton {
    position: relative;
    background-color: #6ebca8;
    border-radius: 20px;
    color: black;
    font-family: Special Gothic Condensed One;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 120px;
    left: 1620px;;
    margin-top: 50px;
}

.learn-imagen {
    height: 500px;
    padding-left: 100px;
    position: relative;
    top: -500px;
}

.deter-texto {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-right: 1300px;
    position: relative;
    padding-left: 50px;
}

.deter-texto2 {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: left;
    position: relative;
    padding-top: 30px;
    width: 500px;
    margin-left: 50px;
}

.deter-boton {
    position: relative;
    background-color: #fdd31d;
    border-radius: 20px;
    color: black;
    font-family: Special Gothic Condensed One;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 120px;
    margin-left: 200px;
    margin-top: -1px;
    margin-bottom: 100px;
}

.deter-imagen {
    height: 500px;
    padding-right: 100px;
    position: relative;
    margin-left: 1200px;
    top: -500px;
}

.fondo-texto {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-right: 1300px;
    position: relative;
    padding-left: 700px;
    margin-top: 100px;
}

.cliente h3 {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 50px;
    color:red;
    margin-left: 500px;

}

.cliente p {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: left;
    position: relative;
    padding-top: 30px;
    width: 500px;
    margin-left: 500px;
}

.cliente img {
   position: relative;
    top: -300px;
    margin-left: 150px;
}

.contacto h3{
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-left: 300px;
}

.contacto input, textarea {
    font-family: 'Special Gothic Condensed One';
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: left;
    position: relative;
    padding-top: 30px;
    width: 500px;
    display: flex;
    margin-left: 200px;
}

.contacto button {
    position: relative;
    background-color: #6ebca8;
    border-radius: 20px;
    color: black;
    font-family: Special Gothic Condensed One;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 120px;
    margin-left: 360px;
    margin-top: 20px;
  
}

.contacto img {
    position: relative;
    top: -600px;
    margin-left: 900px;
}

.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Special Gothic Condensed One;
    font-size: 30px;
}

.footer2 {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
    gap: 200px; /* Espaciado entre los elementos */
}

.footer3 {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: column;
    gap: 10px; /* Espaciado entre los elementos */
    width: 200px;
    
}

.footer4 {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
    gap: 100px; /* Espaciado entre los elementos */
    flex-direction: row;
    width: 1500px;
}

.footer5 {
    font-family: 'Special Gothic Condensed One';
    color: rgb(255, 255, 255);
    background-color: #d5b31c;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    width: 100%;
}

#about {
    text-align: left;
    width: 200px;
    padding-left:770px ;
}


#contact {
    text-align: justify;
    width: 200px;
}